/* Center the code editor on the page */
.code-editor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  background-color: #D3D3D3; /* Cement color */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Style the code editor input */
.code-input {
  width: 100%;
  min-height: 30%;
  background-color: #f0f0f0;
  color: black;
  font-weight: bold;
  caret-color: red;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
  outline: none;
  font-family: 'Times New Roman', Times, serif;
  overflow-y: auto; /* Enable vertical scrolling */
  white-space: pre-wrap; /* Ensure content wraps correctly */
  word-wrap: break-word; /* Ensure content wraps correctly */
  border-radius: 4px;
}

.divider {
  margin: 20px 0; /* Adjust margin as needed */
  border: none;
  border-top: 2px solid #ddd;
}
